@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  color: white;
  font-family: "Poppins", sans-serif;
  padding: 0;
  border: none;
  outline: none;
}

.background {
  background: linear-gradient(
    116.82deg,
    #ff0000 0%,
    rgba(255, 0, 0, 0.35) 100%
  );
  height: 100vh;
  width: 100%;
}

.main {
  background: linear-gradient(
    117.03deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0) 99.43%
  );
  backdrop-filter: blur(20px);
  width: 100vw;
  height: 100%;
}
.container {
  padding: 0% 20%;
}
.link {
  text-decoration: none;
}
